html, body {
    height: 100%;
}
.center-container {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.inner-container {
    width: 100%;
    padding: 20px;
    @include respond-to(not-phones) {
        padding: 0;
        width: 50%;
    }
}
.main-heading {
    text-align: center;
    margin-bottom: 100px;
}
.question {
    display: none;
    margin-bottom: 40px;
    text-align: center;
    @include respond-to(desktop) {
        min-height: 108px;
    }
}
.answer-container {
    display: flex;
    justify-content: space-between;
}
.answer {
    border: 2px solid #111;
    border-radius: 10px;
    color: #111;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 20px;
    text-align: center;
    width: 48%;
    &:focus {
        outline: none;
    }
}
.results {
    display: none;
    text-align: center;
    &__count {
        margin-bottom: 100px;
    }
}
.answers {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 60px;
    &__answer {
        margin-bottom: 60px;
        span {
            color: green;
            display: block;
            padding: 20px 0;
        }
        &--wrong {
            span {
                color: red;
            }
        }
    }
    img {
        display: block;
        margin: 0;
    }
}

.completed {
    align-items: normal;
    .main-heading {
        margin-bottom: 40px;
    }
}