.container {
    margin: 0 auto;
    max-width: $break-tablet + 20;
    padding: 0 20px;
    @include respond-to(phones) {
      max-width: $break-mobile - 1;
      min-width: 320px;
      padding: 0 10px;
    }
  }
  .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -ms-flex-wrap: wrap;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  .col-1-mobile,
  .col-2-mobile,
  .col-3-mobile,
  .col-4-mobile,
  .col-5-mobile,
  .col-6-mobile,
  .col-7-mobile,
  .col-8-mobile,
  .col-9-mobile,
  .col-10-mobile,
  .col-11-mobile,
  .col-12-mobile,
  .col-1-tablet,
  .col-2-tablet,
  .col-3-tablet,
  .col-4-tablet,
  .col-5-tablet,
  .col-6-tablet,
  .col-7-tablet,
  .col-8-tablet,
  .col-9-tablet,
  .col-10-tablet,
  .col-11-tablet,
  .col-12-tablet,
  .col-1-desktop,
  .col-2-desktop,
  .col-3-desktop,
  .col-4-desktop,
  .col-5-desktop,
  .col-6-desktop,
  .col-7-desktop,
  .col-8-desktop,
  .col-9-desktop,
  .col-10-desktop,
  .col-11-desktop,
  .col-12-desktop {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding: 0 10px;
    position: relative;
  }
  .col-1-mobile {
    width: 8.33%;
  }
  .col-2-mobile {
    width: 16.66%;
  }
  .col-3-mobile {
    width: 25%;
  }
  .col-4-mobile {
    width: 33.33%;
  }
  .col-5-mobile {
    width: 41.66%;
  }
  .col-6-mobile {
    width: 50%;
  }
  .col-7-mobile {
    width: 58.33%;
  }
  .col-8-mobile {
    width: 66.66%;
  }
  .col-9-mobile {
    width: 75%;
  }
  .col-10-mobile {
    width: 83.33%;
  }
  .col-11-mobile {
    width: 91.66%;
  }
  .col-12-mobile {
    width: 100%;
  }
  .center-mobile {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
  }
  @media only screen and (min-width: $break-mobile) {
    .col-1-tablet {
      width: 8.33%;
    }
    .col-2-tablet {
      width: 16.66%;
    }
    .col-3-tablet {
      width: 25%;
    }
    .col-4-tablet {
      width: 33.33%;
    }
    .col-5-tablet {
      width: 41.66%;
    }
    .col-6-tablet {
      width: 50%;
    }
    .col-7-tablet {
      width: 58.33%;
    }
    .col-8-tablet {
      width: 66.66%;
    }
    .col-9-tablet {
      width: 75%;
    }
    .col-10-tablet {
      width: 83.33%;
    }
    .col-11-tablet {
      width: 91.66%;
    }
    .col-12-tablet {
      width: 100%;
    }
    .center-tablet {
      -ms-flex-pack: center;
      -webkit-box-pack: center;
      justify-content: center;
    }
  }
  @media only screen and (min-width: $break-tablet) {
    .col-1-desktop {
      width: 8.33%;
    }
    .col-2-desktop {
      width: 16.66%;
    }
    .col-3-desktop {
      width: 25%;
    }
    .col-4-desktop {
      width: 33.33%;
    }
    .col-5-desktop {
      width: 41.66%;
    }
    .col-6-desktop {
      width: 50%;
    }
    .col-7-desktop {
      width: 58.33%;
    }
    .col-8-desktop {
      width: 66.66%;
    }
    .col-9-desktop {
      width: 75%;
    }
    .col-10-desktop {
      width: 83.33%;
    }
    .col-11-desktop {
      width: 91.66%;
    }
    .col-12-desktop {
      width: 100%;
    }
    .center-desktop {
      -ms-flex-pack: center;
      -webkit-box-pack: center;
      justify-content: center;
    }
  }  