$devices: not-desktop phablets phones-tablets;

@mixin respond-to($media) {
  @if index($devices, $media) {
    @media only screen and (max-width: $break-tablet - 1) {
      @content;
    }
  }
  @else if $media == phones {
    @media only screen and (max-width: $break-mobile - 1) {
      @content;
    }
  }
  @else if $media == tablets {
    @media only screen and (min-width: $break-mobile) and (max-width: $break-tablet - 1) {
      @content;
    }
  }
  @else if $media == tab-portrait {
    @media only screen and (min-width: $break-mobile) and (max-width: $break-portrait - 1) {
      @content;
    }
  }
  @else if $media == tab-landscape {
    @media only screen and (min-width: $break-portrait) and (max-width: $break-tablet - 1) {
      @content;
    }
  }
  @else if $media == desktop {
    @media only screen and (min-width: $break-tablet) {
      @content;
    }
  }
  @else if $media == not-phones {
    @media only screen and (min-width: $break-mobile) {
      @content;
    }
  }
  @else if $media == mobiles {
    @media only screen and (max-width: $break-tablet - 1) {
      @content;
    }
  }
  @else {
    @warn "Incorrect @media: #{$media}";
  }
}
