extends layout

block content
  .center-container.js-container
      .inner-container
        h1.main-heading Is this a real Trump Tweet?
        .js-questions
          .js-question-wrap
          .answer-container
            button.answer.js-true-false-button(data-value="true") true
            button.answer.js-true-false-button(data-value="false") false
        .results.js-results
          h2.results__count
            | You scored
            span.js-score
            | out of
            span.js-max
          .answers.js-answers