doctype html

html

  head

    title Website Name #{(title ? '- '+title : '')}
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/style.css')

  body

    block content

    script(src="js/app.js")
    block javascripts